@model LabManagementWeb.ViewModels.JobsSamplesViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Job</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.job.JobNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job.JobNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.job.JobType.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job.JobType.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.job.SubmissionReference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job.SubmissionReference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.job.BulkaBagNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job.BulkaBagNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.job.ClientOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job.ClientOrder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.job.SendReportQLAB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job.SendReportQLAB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.job.SendReportEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job.SendReportEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.job.SendReportOther)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job.SendReportOther)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.job.SendReportOtherDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job.SendReportOtherDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.job.Dispose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job.Dispose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.job.Stored)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job.Stored)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.job.StoredUntil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job.StoredUntil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.job.ReturnedToClient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job.ReturnedToClient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.job.ReturnByCourier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job.ReturnByCourier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.job.ReturnByCourierAccnt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job.ReturnByCourierAccnt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.job.SampleTypeRABRC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job.SampleTypeRABRC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.job.SampleTypeMETPLANT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job.SampleTypeMETPLANT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.job.SampleTypeUMPIREPARTY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job.SampleTypeUMPIREPARTY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.job.SampleTypePULPS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job.SampleTypePULPS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.job.SampleTypeSOILS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job.SampleTypeSOILS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.job.SampleTypeCOREROCKS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job.SampleTypeCOREROCKS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.job.SampleTypeSOLUTIONS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job.SampleTypeSOLUTIONS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.job.SampleTypesMMI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job.SampleTypesMMI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.job.SampleTypeOTHER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job.SampleTypeOTHER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.job.SampleTypeOTHERDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job.SampleTypeOTHERDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.job.SampleIDStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job.SampleIDStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.job.SampleIDEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job.SampleIDEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.job.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.job.UserCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job.UserCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.job.DateModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job.DateModified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.job.UserModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job.UserModified)
        </dd>

    </dl>
</div>

<table class="table">
    @foreach (var item in Model.samples)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SampleID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Job_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateModified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserModified)
            </td>
            <td>
                @Html.ActionLink("Barcode", "Barcode", "Samples", new {id = item.ID}, null)
            </td>
        </tr>
    }
</table>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.job.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
