@using Microsoft.AspNet.Identity
@using System.Web
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-left" }))
    {
    @Html.AntiForgeryToken()
    <input type="hidden" id="userName" name="userName" value="@User.Identity.GetUserName()" />
<ul class="nav navbar-nav navbar-right">
    <li>
        @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
    </li>
    <li>
        @Html.ActionLink("Job Types", "Index", "JobTypes")
    </li>
    <li>
        @Html.ActionLink("Clients", "Index", "Clients")
    </li>
    <li>
        @Html.ActionLink("Jobs", "Index", "Jobs")
    </li>
    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
</ul>
    }
}
else
{
        @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
        @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
}
