@using Microsoft.AspNet.Identity
@using System.Web
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-left" }))
    {
    @Html.AntiForgeryToken()
    <input type="hidden" id="userName" name="userName" value="@User.Identity.GetUserName()" />
        @Html.ActionLink("Your Account", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        @Html.ActionLink("Job Types", "Index", "JobTypes")
        @Html.ActionLink("Clients", "Index", "Clients")
        @Html.ActionLink("Jobs", "Index", "Jobs")
        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
    }
}
else
{
        @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
        @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
}
